<div class="espace-utilisateur">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="sidenav" opened>
      <app-menu-particulier></app-menu-particulier>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <app-breadcrumb-search-particulier
        [faIcon]="breadcrumbIcon"
        [breadcrumbTitle]="breadcrumbTitle"
        [breadcrumbDetails]="breadcrumbDetails">
      </app-breadcrumb-search-particulier>

      <app-accueil *ngIf="this.router.url == '/sogebank/Particulier/accueil'"></app-accueil>
            
      <app-cartes-particulier *ngIf="this.router.url == '/sogebank/Particulier/cartes-particulier'"></app-cartes-particulier>
      
      <app-virements-particulier *ngIf="this.router.url == '/sogebank/Particulier/virements-particulier'"></app-virements-particulier>
      
      <app-releves-particulier *ngIf="this.router.url == '/sogebank/Particulier/releves-particulier'"></app-releves-particulier>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
