.titte{
    margin-top: 20px;
    margin-left: 50px;
    border-bottom: 4px solid green;
}


.table-releve-content{
    margin-left: 10%;
    margin-top: 12%;
}

.mat-elevation-z8{
    background-color: rgb(51, 161, 235);
    width: 85%;
}

.infos-brh{
    border-radius: 10px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    width: 550px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    color: blue;
    }
.infos-brh p {
    margin-left: 25px;
    }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  td, th {
      text-align: center;
  }
  .barNavigation{
      margin-bottom: 35px;
      margin-left: 25%;
  }

  .titte{
    margin-top: 20px;
    margin-left: 50px;
    border-bottom: 4px solid green;
}
.mat-elevation-z8{
    width: 85%;
}
.infos-habilitation{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 17px;
   
}
.bloc-glob{
    width: 1;
    margin-left: 3%;

}

.releves-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.releve-selector {
    display: flex;
    justify-content: space-between;
    margin-top: 10%
}

.releve-selector, app-table-releve-sogebank {
    width: 100%;
}


::ng-deep table, mat-paginator  {
    width: 100%;
   
}

.releves-content ::ng-deep table {
    padding-top: 0;
}

mat-paginator{
    float: left;
    width: 85%;
}