.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-boxes {
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: relative;
    top: 80px;
    margin-top: -80px;
}

.stat-boxes div {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    color: #ffffff;
    font-family: roboto-medium;
}

.stat-boxes h3 {
    font-size: 28px;
    margin-top: 5%;
    margin-bottom: 0;
    padding-left: 10%;
}

.stat-boxes h2 {
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-left: 10%;
}

.stat-boxes fa-icon {
    color: rgba(255, 255, 255, 0.35);
    font-size: 72px;
    align-self: flex-end;
    margin-top: -25%;
    padding-right: 5%;
}

.stat-header {
    display: inline !important;
    width: 100% !important;
    padding-top: 10%;
}

.stat-header h3, .stat-header p {
    display: inline;
}

.stat-header p {
    padding-left: 10px;
}

.stat-box-purple {
    background: rgb(102,126,234);
    background: linear-gradient(145deg, rgba(102,126,234,1) 0%, rgba(118,75,162,1) 100%);
    box-shadow: 7px 7px 10px rgba(118, 75, 162, 0.55);
}

.stat-box-green {
    background: rgb(132,250,176);
    background: linear-gradient(145deg, rgba(132,250,176,1) 0%, rgba(72,177,191,1) 100%);
    box-shadow: 7px 7px 10px rgba(72, 177, 191, 0.55);
}

.stat-box-orange {
    background: rgb(250,112,154);
    background: linear-gradient(145deg, rgba(250,112,154,1) 0%, rgba(254,225,64,1) 100%);
    box-shadow: 7px 7px 10px rgba(198, 175, 48, 0.55);
}

table {
    width: 80%;
    padding-top: 100px;
}

th, td {
    text-align: center !important;
}

.download-button, a {
    color: #25AAF7;
}

.debit-text {
    color: #FF3B00;
}

.credit-text {
    color: #23B708;
}