<div class="documents-content">

    <div class="alert warning" *ngIf="apiService.statut === statut.EN_COURS">
        <fa-icon [icon]="faTimesCircle"></fa-icon> Vos pièces justificatives sont en cours de validation, un mail vous avertira de la création de votre portefeuille.
    </div>
    <div class="alert" *ngIf="apiService.statut === statut.INVALIDE">
        <fa-icon [icon]="faTimesCircle"></fa-icon> Les pièces justificatives que vous avez fourni n'ont pas été acceptés, veuillez les fournir à nouveaux.
    </div>

    <div class="documents-form" *ngIf="apiService.permission === roles.DEMANDEPARTICULIER && (apiService.statut === statut.EN_ATTENTE || apiService.statut === statut.INVALIDE)">
        <h1>Vos informations personnelles</h1>
        <hr>

        <mat-form-field class="civilite-selector">
            <mat-label>Sélectionnez votre civilité</mat-label>
            <mat-select [(value)]="selectedCivilite">
                <mat-option value="M">
                    Monsieur
                </mat-option>
                <mat-option value="Mme">
                    Madame
                </mat-option>
                <mat-option value="Mlle">
                    Mademoiselle
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="situation-selector">
            <mat-label>Sélectionnez votre situation familialle</mat-label>
            <mat-select [(value)]="selectedSituation">
                <mat-option value="celibataire">
                    Célibataire
                </mat-option>
                <mat-option value="marie">
                    Marié(e)
                </mat-option>
                <mat-option value="pacse">
                    Pacsé(e)
                </mat-option>
                <mat-option value="divorce">
                    Divorcé(e)
                </mat-option>
                <mat-option value="veuf">
                    Veuf(ve)
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Saisissez votre profession…" [(ngModel)]="profession">
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="10" placeholder="Saisissez votre numéro de téléphone..." [(ngModel)]="tel">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saisissez votre adresse..." [(ngModel)]="addresse">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saisissez votre ville..." [(ngModel)]="ville">
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="5" placeholder="Saisissez votre code postal..." [(ngModel)]="codePostal">
        </mat-form-field>

        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openPieceIdentiteInput()">Joindre une pièce d'identité</button>
            <input id="pieceIdentiteInput" hidden type="file" (change)="pieceIdentiteChange($event.target.files)" name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="piece-identite-input">
                <input matInput disabled [value]="pieceIdentite?.name">
            </mat-form-field>
        </div>

        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openJustificatifDomicileInput()">Joindre un justificatif de domicile</button>
            <input id="justificatifDomicileInput" hidden type="file" (change)="justificatifDomicileChange($event.target.files)" name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="justificatif-domicile-input">
                <input matInput disabled [value]="justificatifDomicile?.name">
            </mat-form-field>
        </div>

        <div class="submit-box">
            <button mat-raised-button color="primary" class="submit-button" (click)="submitParticulierDocs()">
                Soumettre
            </button>
        </div>

    </div>



    <div class="documents-form" *ngIf="apiService.permission === roles.DEMANDECOMMERCANT && (apiService.statut === statut.EN_ATTENTE || apiService.statut === statut.INVALIDE)">
        <h1>Vos informations professionnelles</h1>
        <hr>

        <mat-form-field class="civilite-selector">
            <mat-label>Sélectionnez votre statut juridique</mat-label>
            <mat-select [(value)]="selectedStatutJuridique">
                <mat-option value="EI">
                    Entreprise individuelle (EI)
                </mat-option>
                <mat-option value="EURL">
                    Entreprise unipersonnelle à responsabilité limitée (EURL)
                </mat-option>
                <mat-option value="SARL">
                    Société à responsabilité limitée (SARL)
                </mat-option>
                <mat-option value="SA">
                    Société anonyme (SA)
                </mat-option>
                <mat-option value="SAS">
                    Société par actions simplifiée (SAS)
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Saisissez votre numéro siret..." [(ngModel)]="siret">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saisissez votre secteur d'activité..." [(ngModel)]="secteurActivite">
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="10" placeholder="Saisissez votre numéro de téléphone..." [(ngModel)]="tel">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saisissez votre adresse..." [(ngModel)]="addresse">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Saisissez votre ville..." [(ngModel)]="ville">
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="5" placeholder="Saisissez votre code postal..." [(ngModel)]="codePostal">
        </mat-form-field>

        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openAnnonceLegaleInput()">Joindre votre annonce légale</button>
            <input id="annonceLegaleInput" hidden type="file" (change)="annonceLegaleChange($event.target.files)" name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="annonce-legale-input">
                <input matInput disabled [value]="annonceLegale?.name">
            </mat-form-field>
        </div>

        <div class="submit-box">
            <button mat-raised-button color="primary" class="submit-button" (click)="submitCommercantDocs()">
                Soumettre
            </button>
        </div>
    </div>
</div>
