<div class="content">
  <h2 style="display: inline-block;padding-right: 2em;">Documents: {{numberOfDocs}}</h2>
  <button *ngIf="isDocumentValidated" style="vertical-align: super;" mat-flat-button color="primary" class="new-button" (click)="openConfirmDialog(NewConfirmDialog)">
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    Valider Les Documents
</button>
  <button style="vertical-align: super;" mat-flat-button color="accent" class="new-button" (click)="openConfirmDialog(NewConfirmDialog, false)">
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    Refuser Les Documents
</button>
  <div *ngIf="showDocs && numberOfDocs === 0"> Le client {{client.Nom}} n'a pas des documents</div>
  <div *ngIf="showDocs">
    <div class="gridcontainer2">
      <ul class="heroes">
        <li (click)="consult(isNotNull[0] ? docs.Piece_Identite.data : null, ShowImage)"><span
            class="badge">Piece_Identite</span>
          <p>Size: {{isNotNull[0] ? docs.Piece_Identite.data.length : 0}}</p>
        </li>
      </ul>
      <ul class="heroes">
        <li (click)="consult(isNotNull[1] ? docs.Justificatif_Domicile.data : null, ShowImage)"><span
            class="badge">Justificatif_Domicile</span>
          <p>Size: {{isNotNull[1] ? docs.Justificatif_Domicile.data.length : 0}}</p>
        </li>
      </ul>
      <ul class="heroes">
        <li (click)="consult(isNotNull[2] ? docs.Annonce_Legale.data : null, ShowImage)"><span
            class="badge">Annonce_Legale</span>
          <p>Size: {{isNotNull[2] ? docs.Annonce_Legale.data.length : 0}}</p>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #ShowImage>
    <div class="new-card-dialog">
      <div class="dialog-header">
        <h2>Consulter un document</h2>
        <hr>
      </div>
      <img id="image" [src]="selectedImage">
    </div>
  </ng-template>
</div>

<ng-template #NewConfirmDialog>
  <div class="new-card-dialog">
      <div class="dialog-header">
          <h2>Voulez vous vraiment {{rejectDocuments ? 'rejeter' : 'valider'}} les documents</h2>
          <h4>Pour le client {{client.Nom}} {{client.Prenom}} ?</h4>
          <hr>
      </div>
      <div class="dialog-warning">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          <p>Attention : Cette opération enverra un mail automatique au client</p>
      </div>
     <div class="dialog-buttons">
          <button mat-flat-button class="dialog-confirm-button" (click)="confirmDocumentValidate()">Confirmer</button> 
          <button mat-flat-button class="dialog-cancel-button" (click)="cancelDocumentValidate()">Annuler</button> 
      </div>
  </div>
</ng-template>