<div class="portefeuilles-content">
    <div class="liste-portefeuilles">
        <button mat-flat-button color="primary" class="new-button">
            <fa-icon [icon]="faPlusCircle"></fa-icon>
            NOUVEAU PORTEFEUILLE
        </button> 
        <div *ngFor="let portefeuille of portefeuilles">
            <div class="portefeuille-container" (click)="openQRcodeDialog(QRcodeDialog, portefeuille)">
                <div class="portefeuille-title">
                    <h1>{{portefeuille.libelle}}</h1>
                    <button mat-icon-button>
                        <fa-icon [icon]="faPen" class="edit-button"></fa-icon>
                    </button> 
                </div>    
                <div class="portefeuille-footer">
                    <div class="portefeuille-info">
                        <p>Activité récente: {{portefeuille.activite}}</p>
                        <p>Ouverture: {{portefeuille.ouverture}}</p>
                    </div>
                    <div class="portefeuille-solde">
                        <h1>{{portefeuille.solde}}</h1>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="stats-portefeuilles">
        <h2>Informations (tous portefeuilles confondus)</h2>
        <p>Nombre de portefeuilles :</p>
        <h2>{{totalWallets}}</h2>
        <p>Solde :</p>
        <h2>{{totalSolde}}</h2>
        <p>Activité (30 derniers jours) :</p>
        <h2>{{totalActivite}}</h2>
    </div>

    <ng-template #QRcodeDialog>
            <div class="qrcode-dialog">
                <div class="dialog-header">
                    <h2>{{selectedPortefeuille.libelle}}</h2>
                    <hr>
                </div>
                <div class="qrcode-dialog-content">
                    <canvas id="QRcode-canvas" height="200" width="200"></canvas>
                    <p>Numéro du portefeuille : {{selectedPortefeuille.id}}</p>
                </div>
                <div class="dialog-buttons">
                    <button mat-flat-button class="dialog-cancel-button" (click)="closeQRcodeDialog()">Fermer</button> 
                </div>
            </div>
        </ng-template>
</div>
