<div>
    <div class="titte">
      <h1>Gérer les habilitations</h1>
    </div>

    <div class="infos-habilitation">
        <p>Nombre total de banques est 100</p>
        <p>Nombre total de banques  bloqués est 5</p>
        <p>Nombre total de banques  actif est 95 </p>
    </div>
  
    <div class="contener-habilitation" >
   
        <div class="formualire-ajout">
          <app-banque></app-banque>
        </div>
        <div class="table-banque">
          <app-banque-list></app-banque-list>   
        </div>

    </div>                    
</div>