<div>
    <div class="titte">
      <h1>Gérer les habilitations</h1>
    </div>

    <div class="infos-habilitation">
        <p>Nombre total de banques est 100</p>
        <p>Nombre total de banques  bloqués est 5</p>
        <p>Nombre total de banques  actif est 95 </p>
    </div>
  
    <div class="jumbtron">
      <h1 class="display-4 test-center">Ajouter une banqe</h1>
      <div class="row">
        <div class="col-md-5">
          <app-banque></app-banque>
        </div>
        <div class="col-md-7">
          <app-banque-list></app-banque-list>   
        </div>

      </div>
    </div>                    
</div>