.alert, .parent{
  position: fixed;
  width: 50%;
  height: 20px;
  padding: 20px;
  color: white;
  border-radius: 2em 2em 2em 2em;
  text-align: center
}

.parent {
  opacity: .6;
}

.alert-success {
  background-color: #4CAF50
}

.alert-danger {
  background-color: #f44336;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.show {
  display: none;
}

