.portefeuille-container {
  color: rgba(255, 255, 255, 0.85);
  background: rgb(67,198,172);
  background: linear-gradient(145deg, rgb(67, 198, 73) 0%, rgb(243, 255, 112) 100%);
  margin-bottom: 30px;
  box-shadow: 7px 7px 10px rgba(112, 112, 112, 0.55);
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  padding: 0.5em;
}

h1 {
  margin: 0.5em 0;
}

.portefeuille-title {
  display: flex;
  align-items: center;
}

p {
  font-size: 1em;
  font-weight: bold;
}


.dialog-header {
  align-self: center;
  margin-bottom: 15px;
}

.dialog-header h2 {
  margin-bottom: 0;
}

.dialog-header hr {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.25);
  border: none;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.25);
}

.dialog-buttons {
  justify-content: space-around;
  display: flex;
  width: 60%;
  align-self: center;
  margin-top: 25px;
}

.dialog-buttons button {
  border-radius: 50px;
  padding: 5px 16px;
  margin-bottom: 15px;
  color: #ffffff;
}

.dialog-confirm-button {
  background-color: #23B708;
}

.dialog-cancel-button {
  background-color: #FF3B00;
}

.qrcode-dialog {
  display: flex;
  flex-direction: column;
}

.qrcode-dialog .dialog-header hr {
  width: 50%;
}

.qrcode-dialog-content {
  text-align: center;
}

.new-wallet-dialog {
  display: flex;
  flex-direction: column;
}

.new-wallet-dialog .dialog-header hr {
  width: 50%;
}

.new-wallet-dialog-form {
  display: flex;
  flex-direction: column;
}

.dialog-warning {
  display: flex;
  width: 90%;
  align-self: center;
  align-items: baseline;
  color: #ffffff;
  background-color: #F0AD4E;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.dialog-warning fa-icon {
  margin-right: 10px;
}