<div class="table-releve-content">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="releve-table">
        
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID TRANSACTION </th>
        <td mat-cell *matCellDef="let element"><a href="#"> {{formatColumnContent(element.id)}} </a></td>
        </ng-container>
                
        <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
                
        <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> TYPE </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
                
        <ng-container matColumnDef="nature">
        <th mat-header-cell *matHeaderCellDef> NATURE </th>
        <td mat-cell *matCellDef="let element"> {{formatColumnContent(element.nature)}} </td>
        </ng-container>
                
        <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef> MONTANT </th>
        <td mat-cell *matCellDef="let element" 
            [ngClass]="element.montant.charAt(0) === '-' ? 'debit-text' : 'credit-text'">
             {{element.montant}} 
        </td>
        </ng-container>
                
        <ng-container matColumnDef="portefeuille">
        <th mat-header-cell *matHeaderCellDef> PORTEFEUILLE </th>
        <td mat-cell *matCellDef="let element"> {{formatColumnContent(element.portefeuille)}} </td>
        </ng-container>
                
        <ng-container matColumnDef="recu" id="recu-col" *ngIf="apiService.permission === roles.COMMERCANT">
        <th mat-header-cell *matHeaderCellDef> REÇU </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button>
                <fa-icon [icon]="faDownload" class="download-button"></fa-icon>
            </button>            
        </td>
        </ng-container>
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div class="releves-actions">
        <button mat-flat-button color="primary" (click)="print()">
            <fa-icon [icon]="faPrint"></fa-icon>
            IMPRIMER
        </button> 
        <button mat-flat-button color="primary" (click)="download()">
            <fa-icon [icon]="faDownload"></fa-icon>
            TELECHARGER
        </button>
    </div>
</div>
