#fakebody{
  margin: 0;
  color: #333;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  min-height: 100%;
  margin-bottom: -25px;
}

h1,h2,h3 {
  padding: .5em 0;
  margin: 0;
}

p {
  margin: 0;
  padding : 1em 0;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

.theheader {
  width: 100%;
  height: 8em;
  display: flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}

.thesecondheader {
  background-color: #171844;
  font-size: 28px;
  color: #ffffff;
}

.BRH-top-bar {
  position: absolute;
  background: url(../../../assets/accueil/bg-header.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 8em;
  z-index: -1;
  opacity: 1;
}

.push {
  height: 25px;
}

#section-a ul{
  list-style: none;
  margin: 0;
  margin-bottom: 1.5em;
  padding: 0;
}

#section-a ul li:first-child {
  background: #2690d4;
  border: 5px solid #86c7f0;
  box-shadow: 10px 10px #10486b, -10px -10px #10486ba4;
}
#section-a ul li {
  background:#DC143C;
  display: inline-block;
  padding: 1em;
  margin: 2em;
  border: 5px solid #ffb1c0;
  color: #ffffff;
  box-shadow: 10px 10px #722b2b, -10px -10px rgba(216, 49, 82, 0.651);
}
