.head {
  text-align: center;
  background: url(../../../assets/accueil/bg-header.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

h2 {
  margin: 0;
  padding: 1.5em 0;
}

.innerLogin {
  padding: 2.5em;
  background-color: #f0f3f0;
  box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.login {
  margin: auto;
  max-width: 25em;
  padding: 2.5em;
}

.outerLogin {
  background-image: linear-gradient(0deg, #d21034 0%, #dddddd 51%, #00209f 75%);
}

.imageBrh {
  height: 80px;
  width: 125px;
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
  padding-top: 1.1em;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

@media screen and (max-width: 700px) {
  .imageBrh {
    position: relative;
    display: flex;
    margin: auto;
  }
}