<div class="menu-content">
    <img src="assets/accueil/brh_logo.png" alt="BRH logo" class="logo-img">
    
    <div class="menu-buttons">
      <button mat-raised-button (click)="goToPortefeuillePrincipal()">Portefeuille principal BRH </button>
      <button mat-raised-button (click)="goToDashboard()">Informations sur les banques</button>
      <button mat-raised-button (click)="goTohabilitation()"> Gérer les habilitations</button>
      <button mat-raised-button (click)="goToportefeuille()">Gérer les portefeuilles</button>
      <button mat-raised-button (click)="goToparametre()">Taux de change </button>
      <button mat-raised-button (click)="goToreleve()">Gérer les relevés </button>
      <button mat-raised-button (click)="goToparametres()">Gérer les paramètres  </button>

    </div>
  </div>