<div class="menu-content">
    <img src="assets/accueil/brh_logo.png" alt="BRH logo" class="logo-img">
    
    <div class="menu-buttons">
      <button mat-raised-button (click)="goToDashboard()">Dashboard</button>
      <button mat-raised-button (click)="goTohabilitation()"> Gérer les habilitations</button>
      <button mat-raised-button (click)="goToportefeuille()">Gérer les portefeuilles</button>
      <button mat-raised-button (click)="goTocontrole()">Gérer les controles </button>
      <button mat-raised-button (click)="goToliquidite()">Gérer les liquidités </button>
      <button mat-raised-button (click)="goToreleve()">Gérer les relevés </button>
    </div>
  </div>