
.thesecondheader {
    height: 70px;
    margin-top: 100px;
    background-color: #171844;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
    .h2 {
        position: absolute; /* postulat de départ */
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      }

 
  .form-container {
    background-color: rgba(255, 255, 255, 0.90);
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

.mat-tab-group{
  border:0.5px solid blue;
}
.login-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.login-form mat-form-field, .login-form mat-checkbox {
    padding: 15px 0px;
    
}
.mat-form-field{
  margin-left: 10px;
  margin-right: 10px;
}

.radio-type {
    display: flex;
}

.create-type-select {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.primary-login-button {
    width: 50%;
    align-self: center;
    margin-left: 25%;
    padding: 5px;
    margin-top:-2%;
    margin-bottom:2%;
}

.create-warning-label {
    color: #f44336;
    font-size: 12px;
    display: block;
    text-align: center;
}