<div class="login-content">

  <div class="thesecondheader">
    <h2>Banque de la république d'Haïti </h2>
  </div>  
  <div class="form-container">
      <mat-tab-group mat-stretch-tabs dynamicHeight [selectedIndex]="displayLoginForm ? 0 : 1">
      
          <mat-tab label="Espace administration">
            <div class="create-form">
            
            <mat-form-field>
                <input matInput placeholder="Email" type="text">
             </mat-form-field>
            
             <mat-form-field>
              <input matInput placeholder="Mot de passe" type="text">
             </mat-form-field>
             
          
            </div>
            <button mat-flat-button (click)="register()" color="primary" class="primary-login-button">Connexion</button>
             </mat-tab>
      </mat-tab-group>
  </div>
</div>
