a, mat-icon {
  text-decoration: none;
  color: white;
}

a:hover, a:active , mat-icon:hover, mat-icon:active {
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menuButton {
  margin-right: 1em;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}