<div class="espace-utilisateur">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" class="sidenav" opened>
      <app-menu-sogebank></app-menu-sogebank>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <app-breadcrumb-search-sogebank
        [faIcon]="breadcrumbIcon"
        [breadcrumbTitle]="breadcrumbTitle"
        [breadcrumbDetails]="breadcrumbDetails">
      </app-breadcrumb-search-sogebank>

      <app-dashboard-sogebank *ngIf="this.router.url == '/sogebank/dashboard'"></app-dashboard-sogebank>
      
      <app-portefeuilles-sogebank *ngIf="this.router.url == '/sogebank/portefeuilles'"></app-portefeuilles-sogebank>
      
      <app-cartes-sogebank *ngIf="this.router.url == '/sogebank/cartes'"></app-cartes-sogebank>
      
      <app-virements-sogebank *ngIf="this.router.url == '/sogebank/virements'"></app-virements-sogebank>
      
      <app-releves-sogebank *ngIf="this.router.url == '/sogebank/releves'"></app-releves-sogebank>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
