.espace-utilisateur {
    min-height: 100vh;
    font-family: roboto;
}

.sidenav-container {
    display: flex;
}

.mat-drawer {
    position: relative;
}

.sidenav {
    height: 100vh;
    width: 20%;
}

.content {
    min-height: 100vh;
    width: 80%;
    margin-left: 0px !important; 
}