<div class="content">
<div class="contentTransactions">
  <div *ngIf="showTransactions">
  <h2>Transactions :</h2>
  <div class="gridcontainer2">
      <ul class="heroes">
        <li><span class="badge">Solde</span>
          <p>{{selectedSolde}}</p>
        </li>
      </ul>
      <ul class="heroes">
        <li><span class="badge">Crédit</span>
          <p>{{selectedCredit}}</p>
        </li>
      </ul>
      <ul class="heroes">
        <li><span class="badge">Débit</span>
          <p>{{selectedDebit}}</p>
        </li>
      </ul>
  </div>
  <div class="example-header" fxLayout="row wrap">
      <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select>
              <mat-option (click)="applyFilter('', 'Nature')">Tout</mat-option>
              <mat-option *ngFor="let type of types" [value]="type" (click)="applyFilter(type, 'Nature')">
                  {{type}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Source</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value, 'Expediteur')" placeholder="Filter">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Destination</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value, 'Destinataire')" placeholder="Filter">
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="startPicker" placeholder="Date de début" (dateChange)="applyFilter($event.target.value, 'Timestamp', true)">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="endPicker" placeholder="Date de fin" (dateChange)="applyFilter($event.target.value, 'Timestamp', false)">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table class="clients-table mat-elevation-z8" [dataSource]="transactions" matSort>

      <ng-container matColumnDef="Date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let tr" data-label="Date">{{tr.Date}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Nature">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let tr" data-label="Type">{{tr.Nature}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Expediteur">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let tr" data-label="Source">{{tr.Expediteur}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Destinataire">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Destination</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let tr" data-label="Destination">{{tr.Destinataire}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Montant">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let tr" data-label="Montnat" [ngClass]="tr.Montant < 0 ? 'debit-text' : 'credit-text'">{{tr.Montant}} DTG</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsTransactions"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsTransactions" (click)="onTransactionRowClicked(row)"
        [style.background]="selectedTransaction && selectedTransaction.Timestamp == row.Timestamp ? 'lightgreen' : ''">
      </mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, 1000]"></mat-paginator>
  </div>
</div>