<div class="menu-content">
  <img src="assets/sogebank/sogebank_logo_white.png" alt="Sogebank logo" class="logo-img">
  <hr>
  <div class="user-info">
     <img src="assets/sogebank/avatar.jpg" alt="Avatar" class="avatar-img">
    <p>John Doe</p>
  </div>
  <hr>
  <div class="menu-buttons">
    <button mat-raised-button (click)="goToAccueil()">Accueil</button>
    <button mat-raised-button (click)="goToCards()">Mes cartes</button>
    <button mat-raised-button (click)="goToTransfers()">Virements</button>
    <button mat-raised-button (click)="goToStatements()">Relevés</button>
  </div>
</div>