.menu-content {
    height: 100vh;
    box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#6D8F1D,rgba(3, 155, 229, 0.5)), url(../../../../assets/sogebank/vectors.jpg);
  }
  
  .logo-img {
    margin: 0 auto;
    display: block;
    padding: 20px;
  }
  
  hr {
    color: rgba(255, 255, 255, 0.5);
    width: 75%;
    border-width: 0px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .user-info {
    display: flex;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 20%;
  }
  
  .avatar-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .user-info p {
    margin-left: 15px;
  }
  
  .menu-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  
  .menu-buttons button {
    width: 65%;
    margin: 8px;
    color: rgb(112,112,112);
    text-shadow: 1px 3px 2px rgba(0,0,0,0.15);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
  }