
  .form-container {
      background-color: rgba(255, 255, 255, 0.90);
      width: 40%;
      margin-left: 25%;
  }
  
  
  .login-form {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
  }
  
  .create-form {
      display: flex;
      flex-direction: column;
  }
  
  .login-form mat-form-field, .login-form mat-checkbox {
      padding: 15px 0px;
  }
  
  .radio-type {
      display: flex;
  }
  
  .create-type-select {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
  }
  
  .primary-login-button {
      width: 100%;
      align-self: center;
      margin: 25px 0px;
      padding: 5px;
  }
  
  .create-warning-label {
      color: #f44336;
      font-size: 12px;
      display: block;
      text-align: center;
  }