<div>
    <div class="titte">
      <h1>Gérer les portefeuilles</h1>
    </div> 
    <div class="table-block">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Nom">
              <th mat-header-cell *matHeaderCellDef> Banque </th>
              <td mat-cell *matCellDef="let element"> {{element.Nom}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.Email}}</td>
            </ng-container>
    
            <ng-container matColumnDef="Tel">
              <th mat-header-cell *matHeaderCellDef> Téléphone </th>
              <td mat-cell *matCellDef="let element"> {{element.Tel}}</td>
            </ng-container>

            <ng-container matColumnDef="Virement">
                <th mat-header-cell *matHeaderCellDef> Statut </th>
                <td mat-cell *matCellDef="let element"> {{element.Virement}}</td>
              </ng-container>
    
            <ng-container matColumnDef="Editer">
              <th mat-header-cell *matHeaderCellDef> Modifier </th>
              <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" matBadgePosition="before"
                  matBadgeColor="accent" (click)="openEditDialog(ContactDialog,element)">Editer</button>
                <ng-template #ContactDialog>
                  <div class="contact-dialog">
                    <div class="dialog-header">
                      <h4>Mobifier un paramètre </h4>
                      <hr>
                    </div>
                    <div class="contact-dialog-form">
                      <mat-form-field>
                        <input matInput placeholder="Nom du paramètre" [(ngModel)]="selectedParametre.Nom">
                      </mat-form-field>
                      <br />
                      <mat-form-field>
                        <input matInput placeholder="Dsscription" [(ngModel)]="selectedParametre.Description">
                      </mat-form-field>
                      <br />
                      <mat-form-field>
                        <input matInput placeholder="Valeur" [(ngModel)]="selectedParametre.Valeur">
                      </mat-form-field>
                    </div>
                    <div class="dialog-buttons">
                      <button mat-flat-button class="dialog-confirm-button"
                        (click)="confirmEditParametre()">Valider</button>
                      <button mat-flat-button class="dialog-cancel-button"
                        (click)="cancelDiologueParametre()">Annuler</button>
                    </div>
                  </div>
                </ng-template>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        



















   <!--   <mat-card>
        <mat-card-header>
          <mat-toolbar class="toolbar">
            <mat-card-title>Liste des portefeuilles</mat-card-title>
            <span class="toolbar-spacer"></span>
          </mat-toolbar>
        </mat-card-header>
      
        <mat-card-content>
          <div class="container">
            <table class="table">
              <thead>
                <th>Nom de la banque</th>
                <th>Portefeuille</th>
                <th>Montant Maximum par transaction</th>
                <th>Status</th>
                <th>Action</th>
                
              </thead>
              <tr *ngFor="let Contact of ContactList | paginate: { itemsPerPage:5,currentPage:p} ; " >
                <td>{{Contact.Nom}}</td>
                <td>{{Contact.Portefeuille}}</td>
                <td>{{Contact.MaxTransaction}}</td>
                <td>{{Contact.Status}}</td>

                <td><button mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent"
                  (click)="openEditCardDialog(EditCardDialog,Contact)">Edit</button> 
                  <ng-template #EditCardDialog>
                      <h3>Mettre à jours le portefeuille</h3>
                    <div class="container">
                    
                        <div class="contact-dialog-form">
                            <mat-form-field>
                                <input matInput [(ngModel)]="selectedPortefeuille.Nom">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="selectedPortefeuille.Portefeuille">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="selectedPortefeuille.MaxTransaction"> 
                            </mat-form-field>   
                          <br/>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedPortefeuille.Status">
                                <mat-radio-button   value="Actif">Activer</mat-radio-button>
                                <mat-radio-button   value="Bloqué">Bloqué</mat-radio-button>
                              </mat-radio-group> 
                          </div>
                          <div class="dialog-buttons">
                              <button mat-flat-button class="boutonConfirmer" (click)="confirmEditPortefeuille(selectedPortefeuille)">Confirmer</button> 
                              <button mat-flat-button class="CoutonConfirmer" (click)="cancelEditBanque()">Annuler</button> 
                          </div>
                     </div>
                  </ng-template>
                </td>
              </tr>
            </table>
            <div class="barNavigation"> 
                <pagination-controls (pageChange)="p=$event"></pagination-controls>   
            </div>
          </div>
        </mat-card-content>
      </mat-card>    

      -->
    </div>
  </div>