.titte{
    margin-top: 20px;
    margin-left: 50px;
    border-bottom: 4px solid green;
}

.toolbar{
    background-color: blue;
    width: 95%;
}
.mat-card{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.mat-card-content{
    margin-top: 5%;
    margin-right: 5%;
}
td, th{
    text-align: center;
    padding: 10px;
    display: table-cell;
    vertical-align: inherit;
    border-top:1px solid black;
}
.table{
    margin-bottom: 5%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
::ng-deep table {
    width: 100%;
}

