<div class="example-header" fxLayout="row wrap">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value, 'Email')" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value, 'Nom')" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prenom</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value, 'Prenom')" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select>
            <mat-option (click)="applyFilter('', 'Status')">Tout</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role" (click)="applyFilter(role, 'Status')">
                {{role}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
            <mat-option (click)="applyFilter('', 'StatusClient')">Tout</mat-option>
            <mat-option *ngFor="let aStatus of statuses" [value]="statuses" (click)="applyFilter(aStatus, 'StatusClient')">
                {{aStatus}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
<mat-table class="clients-table mat-elevation-z8" [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let client" data-label="Email">{{client.Email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Nom">{{client.Nom}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Prenom">{{client.Prenom}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Role">
      <mat-header-cell *matHeaderCellDef mat-sort-header="Status">Role</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Role">{{client.Status}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef mat-sort-header="StatusClient">Status</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Status">{{client.StatusClient}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"
  (click)="onRowClicked(row)"
  [style.background]="selectedBanqueClient && selectedBanqueClient.Email == row.Email ? 'lightgreen' : ''"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>