<div class="example-container mat-elevation-z8">
<mat-table class="clients-table mat-elevation-z8" [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let client" data-label="Email">{{client.Email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Nom">{{client.Nom}}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let client" data-label="Prenom">{{client.Prenom}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"
  (click)="onRowClicked(row)"></mat-row>

</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>