.example-container {
  line-height: 1.25em;
}

.mat-table .mat-row:hover {
  background:rgb(214, 243, 209);
}
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
    height: 260px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
    height:20px;
    margin-bottom: 1em;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    padding-left: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    padding-top: 1em;
    padding-left: 0;
  }
}