.primary-login-button {
  width: 100%;
  align-self: center;
  margin: 25px 0px;
  padding: 5px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heroes {
  margin: 0 0 0.5em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-block;
}
.heroes li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}

.heroes li p {
  margin: auto;
  padding-right: 1em;
  padding-top: .2em;
  size: 1em;
  position: relative;
  right: 0;
  display: inline-block;
  word-wrap: break-word;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  top: -.3em;
  left: 0;
  /*left: -.3em;
  top: -.5em;*/
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


@media screen and (max-width: 820px) {
  .gridcontainer {
    grid-template-columns: 1fr;
  }

  .heroes li {
    margin: 0.5em 0;
  }

  .heroes {
    margin: 0;
  }
}