<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-banque-prive (sidenavClose)="sidenav.close()"></app-sidenav-banque-prive>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-menu-banque-prive (sidenavToggle)="sidenav.toggle()"></app-menu-banque-prive>
    <main>
      <app-portefeuille-banque-prive *ngIf="this.router.url == '/brh/banque/prive/portefeuille'"></app-portefeuille-banque-prive>
      <app-transactions-banque-prive *ngIf="this.router.url == '/brh/banque/prive/transactions'"></app-transactions-banque-prive>
      <app-clients-banque-prive (selectedClient)="handleSelectedClient($event)" *ngIf="this.router.url == '/brh/banque/prive/clients'"></app-clients-banque-prive>
      <app-client-banque-prive [selectedClient]="selectedClient" *ngIf="!showClients"></app-client-banque-prive>
      <app-cartes-banque-prive *ngIf="this.router.url == '/brh/banque/prive/cartes'"></app-cartes-banque-prive>
      <button mat-flat-button (click)="logout()" color="primary" class="primary-logout-button">SE DECONNECTER</button>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>