<div class="sogebank-content">
  <div class="sogebank-header">
      <img src="assets/sogebank/sogebank_logo_white.png" alt="Sogebank logo">

      <div class="header-buttons">
      <a (click)="goToLoginCreate(true)"><div class="header-button new-client-header">
          <p><fa-icon [icon]="faPlus"></fa-icon> Devenir client</p>
      </div></a>

      <a (click)="goToLoginConnect()"><div class="header-button connect-header">
          <p><fa-icon [icon]="faUnlockAlt"></fa-icon> Se connecter</p>
      </div></a>
      </div>
  </div>

  <hr>

  <div class="sogebank-body">
    <h1>Avec <div class="medium-raleway">Sogebank</div>, votre<br/>
        <div class="italic-raleway">projet</div> devient <div class="italic-raleway">réalité</div></h1>
    <h3>Découvrez notre offre :</h3>
    
    <div class="sogebank-info">

      <div class="info-block">
        <div class="info-header">
            <fa-icon [icon]="faUser"></fa-icon>
            <p>Sogebank pour les particuliers</p>
        </div>
        <hr>
        <div class="info-text">
          <p>Effectuez des paiements ou 
              virements en DHTG en toute 
              sérénité. Devenez acteur de 
              la transformation digitale du 
              Haïti !</p>
        </div>
        <a (click)="goToLoginCreate(true)"><div class="info-button">
            <p>Devenir client</p>
        </div></a>
      </div>

      <div class="info-block">
          <div class="info-header">
              <fa-icon [icon]="faStoreAlt"></fa-icon>
              <p>Sogebank pour les commerçants</p>
          </div>
          <hr>
          <div class="info-text">
            <p>Recevez des paiements
                en DHTG aisément dans 
                votre commerce via une 
                interface web et mobile 
                ergonomique.</p>
          </div>
          <a (click)="goToLoginCreate(false)"><div class="info-button">
              <p>Devenir client</p>
          </div></a>
        </div>

      <div class="info-block">
          <div class="info-header">
              <fa-icon [icon]="faCreditCard"></fa-icon>
              <p>La carte adaptée 
                  à vos besoins</p>
          </div>
          <hr>
          <div class="info-text">
            <p>Effectuez vos paiements avec
                la carte Sogebank ou depuis 
                notre application mobile. Les 
                paiements en DHTG n’ont 
                jamais été aussi simples !</p>
          </div>
          <a (click)="goToLoginCreate(true)"><div class="info-button">
              <p>Devenir client</p>
          </div></a>
        </div>
    </div>
  </div>
</div>
