<div class="releves-content">
    <div class="releve-selector">
        <mat-form-field class="wallet-selector">
            <mat-label>Sélectionner un portefeuille...</mat-label>
            <mat-select [(value)]="selectedPortefeuille" (selectionChange)="changePortefeuille()">
                <mat-option *ngFor="let portefeuille of portefeuilles" [value]="portefeuille">
                    {{portefeuille.Libelle}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="date-selector">
            <mat-form-field class="start-picker">
                <input matInput [matDatepicker]="startPicker" placeholder="Date de début" (dateChange)="startDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="endPicker" placeholder="Date de fin" (dateChange)="endDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <app-table-releve-sogebank [dataSource]="dataSource"></app-table-releve-sogebank>
</div>
