.releves-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.releve-selector {
    display: flex;
    justify-content: space-between;
}

.releve-selector, app-table-releve-sogebank {
    width: 80%;
}

.wallet-selector {
    width: 30%;
}

.start-picker {
    margin-right: 15px;
}

::ng-deep table {
    width: 100%;
}

.releves-content ::ng-deep table {
    padding-top: 0;
}