<div class="carte-container">
  <div class="carte-title">
      <h1>{{card.Libelle}}</h1>
      <button mat-icon-button>
          <fa-icon [icon]="faPen" class="edit-button" (click)="openEditCardDialog(EditCardDialog)"></fa-icon>
      </button>
      <button mat-icon-button>
          <fa-icon [icon]="faTimes" class="delete-button"(click)="openDeleteCardDialog(DeleteCardDialog)"></fa-icon>
      </button>
  </div>
  <div class="carte-footer">
      <div class="carte-info">
          <p>Création: {{commonUtilsService.formatDate(card.Creation)}}</p>
      </div>
      <div class="carte-rattachement">
          <h1>Rattachée à : {{card.rattachement}}</h1>
      </div>
  </div>

  <ng-template #EditCardDialog>
    <div class="new-card-dialog">
        <div class="dialog-header">
            <h2>Rennomer une carte</h2>
            <hr>
        </div>
        <div class="new-card-dialog-form">
            <mat-form-field>
                <input matInput placeholder="Saisir un libellé pour la carte…" [(ngModel)]="card.Libelle">
            </mat-form-field>
        </div>
       <div class="dialog-buttons">
            <button mat-flat-button class="dialog-confirm-button" (click)="confirmCardEdit()">Confirmer</button> 
            <button mat-flat-button class="dialog-cancel-button" (click)="cancelCardEdit()">Annuler</button> 
        </div>
    </div>
</ng-template>

<ng-template #DeleteCardDialog>
    <div class="new-card-dialog">
        <div class="dialog-header">
            <h2>Supprimer une carte</h2>
            <hr>
        </div>
        <div class="dialog-warning">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon>
            <p>Attention : Cette opération est irréversible.</p>
        </div>
       <div class="dialog-buttons">
            <button mat-flat-button class="dialog-confirm-button" (click)="confirmCardDelete()">Confirmer</button> 
            <button mat-flat-button class="dialog-cancel-button" (click)="cancelCardDelete()">Annuler</button> 
        </div>
    </div>
</ng-template>
</div>