<div class="login-content">

    <div>
        <p>.</p>
    </div>
    <div class="thesecondheader">
        <h2>Banque de la république d'Haïti </h2>
    </div>
    <h3>Demander une habilitation à la banque centrale: </h3>
    <div class="block-text">
        <p>Pour demander une habilitation à la banque centrale veuillez remplir
            le formulaire ci-dessous et envoyer votre demande, une fois que votre
            demande sera traité vous resevrez une confirmation par mail.</p>
    </div>
    <div class="block-form">
        <div class="contact-dialog-form">
            <p> * : champs obligatoire.</p><br>
            <mat-form-field>
                <input matInput placeholder="Nom *" [formControl]="nouvelBanqueNom">
                <mat-error *ngIf="nouvelBanqueNom.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanqueNom.hasError('minlength')">
                    Le prénom doit contenir au moins 3 caractères
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Prénom *" [formControl]="nouvelBanquePrenom">
                <mat-error *ngIf="nouvelBanquePrenom.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanquePrenom.hasError('minlength')">
                    Le prénom doit contenir au moins 3 caractères
                </mat-error>
            </mat-form-field>
            <br>
            <!--    <mat-form-field>
                <input matInput placeholder="Adresse *" [(ngModel)]="Adresse">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Code postale *" [(ngModel)]="CodePostale">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Ville *" [(ngModel)]="Ville">
            </mat-form-field>
            <br>
        -->
            <mat-form-field>
                <input matInput placeholder="Nom de la banque *" [formControl]="BanqueNom">
                <mat-error *ngIf="BanqueNom.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="BanqueNom.hasError('minlength')">
                    Le nom de la banque doit contenir au moins 3 caractères
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Email *" [formControl]="nouvelBanqueEmail">
                <mat-error *ngIf="nouvelBanqueEmail.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanqueEmail.hasError('minlength')">
                    L'Email doit etre valide !
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Mot de passe *" [formControl]="nouvelBanquePassword" type="password">
                <mat-error *ngIf="nouvelBanquePassword.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanquePassword.hasError('minlength')">
                    L'Email doit etre valide !
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Confirmer mot de passe *" [formControl]="nouvelBanquePasswordConfirm"
                    type="password">
                <mat-error *ngIf="nouvelBanquePasswordConfirm.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanquePasswordConfirm.hasError('minlength')">
                    L'Email doit etre valide !
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Téléphone *" [formControl]="nouvelBanqueTel">
                <mat-error *ngIf="nouvelBanqueTel.hasError('required')">
                    Ce champ est <strong>requis</strong>
                </mat-error>
                <mat-error *ngIf="nouvelBanqueTel.hasError('minlength')">
                    Le numéro de téléphone doit contenir 10 numéros
                </mat-error>
            </mat-form-field>


            <br>
        </div>
        <hr>
        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openPieceIdentiteInput()">Joindre votre carte identité</button>
            <input id="pieceIdentiteInput" hidden type="file" (change)="pieceIdentiteChange($event.target.files)"  name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="piece-identite-input">
                <input matInput disabled [value]="pieceIdentite?.name">
            </mat-form-field>
        </div>
        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openAnnonceLegaleInput()">Joindre votre annonce légale</button>
            <input id="annonceLegaleInput" hidden type="file" (change)="annonceLegaleChange($event.target.files)" name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="annonce-legale-input">
                <input matInput disabled [value]="annonceLegale?.name">
            </mat-form-field>
        </div>
        <div class="upload-button">
            <button mat-raised-button color="primary" (click)="openJustificatifDomicileInput()">Joindre un justificatif de domicile</button>
            <input id="justificatifDomicileInput" hidden type="file" (change)="justificatifDomicileChange($event.target.files)" name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="justificatif-domicile-input">
                <input matInput disabled [value]="justificatifDomicile?.name">
            </mat-form-field>
        </div>
        
        <!--
        <div class="upload-button">
            <button mat-raised-button (click)="openAnnonceLegaleInput()">Joindre votre carte identité</button>
            <input id="annonceLegaleInput" hidden type="file" (change)="annonceLegaleChange($event.target.files)"
                name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="annonce-legale-input">
                <input matInput disabled [value]="annonceLegale && annonceLegale.name">
            </mat-form-field>
        </div>
        <div class="upload-button">
            <button mat-raised-button (click)="openAnnonceLegaleInput()">Joindre votre registre de commerce</button>
            <input id="annonceLegaleInput" hidden type="file" (change)="annonceLegaleChange($event.target.files)"
                name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="annonce-legale-input">
                <input matInput disabled [value]="annonceLegale && annonceLegale.name">
            </mat-form-field>
        </div>
        <div class="upload-button">
            <button mat-raised-button (click)="openAnnonceLegaleInput()">Joindre un autre document</button>
            <input id="annonceLegaleInput" hidden type="file" (change)="annonceLegaleChange($event.target.files)"
                name="file" accept=".png,.jpeg,.jpg,.pdf">
            <mat-form-field class="annonce-legale-input">
                <input matInput disabled [value]="annonceLegale && annonceLegale.name">
            </mat-form-field>
        </div>
        -->
        <div class="dialog-button">
            <button mat-flat-button color="primary" class="boutonConfirmer"
                (click)="confirmAddBanque()">Envoyer</button>
            <button mat-flat-button class="boutonConfirmer" style="background-color: #FF3B00;"
                (click)="goBack()">Annuler</button>
        </div>

    </div>

</div>
<div>