<div>
    <div class="dashboard-content">


        <div class="table-releve-content">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="Nom">
                    <th mat-header-cell *matHeaderCellDef> Banque </th>
                    <td mat-cell *matCellDef="let element"> {{element.NomCommercial}}</td>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.Email}}</td>
                </ng-container>

                <ng-container matColumnDef="Telephone">
                    <th mat-header-cell *matHeaderCellDef> Telephone </th>
                    <td mat-cell *matCellDef="let element"> {{element.Telephone}}</td>
                </ng-container>

                <ng-container matColumnDef="Portefeuille">
                    <th mat-header-cell *matHeaderCellDef> Date de demande </th>
                    <td mat-cell *matCellDef="let element">28/05/2019</td>
                </ng-container>

                <ng-container matColumnDef="Statut">
                    <th mat-header-cell *matHeaderCellDef> Statut </th>
                    <td mat-cell *matCellDef="let element">{{element.Statut}}</td>
                </ng-container>

                <ng-container matColumnDef="Supprimer">
                    <th mat-header-cell *matHeaderCellDef> Suppression </th>
                    <!-- <td mat-cell *matCellDef="let element"><button  mat-raised-button (click)="onDelete(element.Name)" class="btn btn-sm btn-outline-danger">Supprimer</button></td>
-->
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn" matBadgePosition="before"
                            (click)="openDeleteDialog(DeleteDialog,element)">Supprimer</button>
                        <ng-template #DeleteDialog>
                            <div class="contact-dialog">
                                <div class="dialog-header">
                                    <h4>Vous voulez supprimer la banque {{element.NomCommercial}} ?</h4>
                                    <hr>
                                </div>
                                <div class="dialog-buttons">
                                    <button mat-flat-button class="boutonConfirmer"
                                        (click)="deleteBanque()">Confirmer</button>
                                    <button mat-flat-button class="boutonAnnuler"
                                        (click)="cancelValidatBanque()">Annuler</button>
                                </div>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Refuser">
                    <th mat-header-cell *matHeaderCellDef> Refus </th>
                    <!-- <td mat-cell *matCellDef="let element"><button  mat-raised-button (click)="onDelete(element.Name)" class="btn btn-sm btn-outline-danger">Supprimer</button></td>
    -->
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent"
                            (click)="openDeleteDialog(DeleteDialog,element)">Refuser</button>
                        <ng-template #DeleteDialog>
                            <div class="contact-dialog">
                                <div class="dialog-header">
                                    <h4>Vous voulez refuser la banque {{element.NomCommercial}} ?</h4>
                                    <hr>
                                </div>
                                <div class="dialog-buttons">
                                    <button mat-flat-button class="boutonConfirmer"
                                        (click)="refuseBanque()">Confirmer</button>
                                    <button mat-flat-button class="boutonAnnuler"
                                        (click)="cancelValidatBanque()">Annuler</button>
                                </div>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Valider">
                    <th mat-header-cell *matHeaderCellDef> Validation </th>
                    <!-- <td mat-cell *matCellDef="let element"><button  mat-raised-button (click)="onDelete(element.Name)" class="btn btn-sm btn-outline-danger">Supprimer</button></td>
    -->
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="accent" matBadgePosition="before"
                            (click)="openDeleteDialog(DeleteDialog,element)">Valider</button>
                        <ng-template #DeleteDialog>
                            <div class="contact-dialog">
                                <div class="dialog-header">
                                    <h4>Vous voulez valider la banque {{element.NomCommercial}} ?</h4>
                                    <hr>
                                </div>
                                <div class="dialog-buttons">
                                    <button mat-flat-button class="boutonConfirmer"
                                        (click)="validateBanque()">Confirmer</button>
                                    <button mat-flat-button class="boutonAnnuler"
                                        (click)="cancelValidatBanque()">Annuler</button>
                                </div>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>