<div>
    <div class="titte">
      <h1>Gérer les relevés</h1>
    </div>
    <br><br><br><br>
    <div class="dashboard-content">

        <div class="stat-boxes">
            <div class="stat-box-purple">
                <div class="stat-header">
                    <h3>Solde</h3>
                </div>
                <h2>{{solde}}</h2>
                <fa-icon [icon]="faSyncAlt" class="download-button"></fa-icon>
            </div>
        <!--    <div class="stat-box-green">
                <div class="stat-header">
                    <h3>Crédit</h3>
                    <p>(30 derniers jours)</p>
                </div>
                <h2>{{sogebankService.totalCredit}}</h2>
                <fa-icon [icon]="faPlusCircle" class="download-button"></fa-icon>
            </div>
            <div class="stat-box-orange">
                    <div class="stat-header">
                        <h3>Débit</h3>
                        <p>(30 derniers jours)</p>
                    </div>
                <h2>{{sogebankService.totalDebit}}</h2>
                <fa-icon [icon]="faMinusCircle" class="download-button"></fa-icon>
            </div>  -->
        </div>
        <app-table-releve-sogebank [dataSource]="dataSource"></app-table-releve-sogebank>
    </div>
    <!--
    
        <app-table-releve-sogebank [dataSource]="dataSource"></app-table-releve-sogebank>
        -->       
</div>