<div class="espace-utilisateur">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" class="sidenav" opened>
        <app-menu-brh></app-menu-brh>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        
        <app-portefeuille-principal-brh *ngIf="this.router.url == '/brh/portefeuille-principal-brh'"></app-portefeuille-principal-brh>
        <app-dashboard-brh *ngIf="this.router.url == '/brh/dashboard-brh'"></app-dashboard-brh>
        <app-habilitation-brh *ngIf="this.router.url == '/brh/habilitation-brh'"></app-habilitation-brh>
        <app-portefeuille-brh *ngIf="this.router.url == '/brh/portefeuille-brh'"></app-portefeuille-brh>
        <app-liquidite-brh *ngIf="this.router.url == '/brh/liquidite-brh'"></app-liquidite-brh>
        <app-parametre-brh *ngIf="this.router.url == '/brh/parametre-brh'"></app-parametre-brh>
        <app-releve-brh *ngIf="this.router.url == '/brh/releve-brh'"></app-releve-brh>

      
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  