.virements-content {
    display: flex;
}

.virements-content a {
    cursor: pointer;
}

.virements-boxes {
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.from-box, .to-box {
    box-shadow: 3px 2px 8px rgba(112, 112, 112, 0.30), -3px 0px 8px rgba(112, 112, 112, 0.30);
    border-radius: 5px;
}

.from-box {
    border-top: 3px solid #23B708;
    margin-bottom: 40px;
}

.to-box {
    border-top: 3px solid rgba(31, 145, 211, 0.75);
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #707070;
    border-bottom: 2px solid rgba(216, 213, 213, 0.55);
}

.box-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    padding: 1em 20px;
    border-bottom: 1px solid rgba(216, 213, 213, 0.55);
}

.select-box-item:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.box-item p {
    margin: 0;
}

.wallet-info {
    display: flex;
    align-items: center;
}

.wallet-info fa-icon {
    margin-right: 10px;
    color: #23B708;
}

.new-wallet-info {
    color: #FF3B00 !important;
}

.transfer-to-separator {
    background-color: #EEEEEE;
    padding: 0.5em 20px;
}

.virements-form {
    padding-top: 30px;
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.confirm-button {
    border-radius: 50px;
    padding: 5px 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    align-self: center;
}

.actions-virements {
    margin-left: auto;
    width: 30%;
    border-left: 1px solid #707070;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

.actions-virements h2 {
    color: #707070;
    margin-bottom: 5px;
}

.actions-virements hr {
    color: #707070;
    width: 20%;
    border: none;
    height: 3px;
    background-color: #707070;
    margin: 0;
    margin-bottom: 15px;
    align-self: flex-start;
    border-width: 3px;
}

.actions-virements a {
    text-decoration: none;
    color: #707070;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.actions-virements a:hover {
    color: #25AAF7;
}

.actions-virements fa-icon {
    font-size: 1.75em;
    padding-right: 10px;
}

.confirm-dialog {
    display: flex;
    flex-direction: column;
    color: #707070;
}

.dialog-header {
    align-self: center;
    margin-bottom: 15px;
}

.dialog-header h2 {
    margin-bottom: 0;
}

.dialog-header hr {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.25);
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-content {
    display: flex;
    justify-content: space-between;
}

.dialog-info-left .dialog-info p {
    padding-right: 75px;
}

.dialog-info p {
    margin: 10px 0 0 0;
}

.dialog-info hr {
    margin: 15px 0 15px 0;
    color: rgba(0, 0, 0, 0.25);
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-buttons {
    justify-content: space-around;
    display: flex;
    width: 60%;
    align-self: center;
    margin-top: 25px;
}

.dialog-buttons button {
    border-radius: 50px;
    padding: 5px 16px;
    margin-bottom: 15px;
    color: #ffffff;
}

.dialog-confirm-button {
    background-color: #23B708;
}

.dialog-cancel-button {
    background-color: #FF3B00;
}

.contact-dialog {
    display: flex;
    flex-direction: column;
}

.contact-dialog .dialog-header hr {
    width: 50%;
}

.contact-dialog-form {
    display: flex;
    flex-direction: column;
}