<div class="virements-content">
        <div class="virements-boxes">
            <div class="from-box">
                <div class="box-header">
                    <h2>Depuis le portefeuille</h2>
                    <button mat-icon-button (click)="choosePortefeuille()">
                        <fa-icon [icon]="faChevronDown"></fa-icon>
                    </button>
                </div>

                <div *ngIf="isPortefeuilleSelected" class="box-item">
                    <div class="wallet-info">
                        <div><fa-icon [icon]="faCheck"></fa-icon></div>
                        <div>
                            <p>{{selectedPortefeuille.Libelle}}</p>
                            <p>Ouvert le {{commonUtilsService.formatDate(selectedPortefeuille.Ouverture)}}</p>
                        </div>
                    </div>
                    <div class="wallet-solde">
                        <p>{{selectedPortefeuille.Solde}}</p>
                    </div>
                </div>

                <div *ngIf="!isPortefeuilleSelected">
                    <div *ngFor="let portefeuille of portefeuilles" class="box-item select-box-item" (click)="selectPortefeuille(portefeuille)">
                        <div class="wallet-info">
                            <div *ngIf="portefeuille.ClePub === selectedPortefeuille.ClePub">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                            <div>
                                <p>{{portefeuille.Libelle}}</p>
                                <p>Ouvert le {{commonUtilsService.formatDate(portefeuille.Ouverture)}}</p>
                            </div>
                        </div>
                        <div class="wallet-solde">
                            <p>{{portefeuille.Solde}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="to-box">
                <div class="box-header">
                    <h2>Vers le portefeuille</h2>
                    <button mat-icon-button (click)="chooseBeneficiaire()">
                        <fa-icon [icon]="faChevronDown"></fa-icon>
                    </button>
                </div>

                <div *ngIf="isBeneficiaireSelected" class="box-item">
                    <div class="wallet-info">
                        <div><fa-icon [icon]="faCheck"></fa-icon></div>
                        <div>
                            <p>{{selectedBeneficiaire.Libelle}}</p>
                            <p *ngIf="selectedBeneficiaire.Ajout">Ajouté le {{commonUtilsService.formatDate(selectedBeneficiaire.Ajout)}}</p>
                            <p *ngIf="selectedBeneficiaire.Ouverture">Ouvert le {{commonUtilsService.formatDate(selectedBeneficiaire.Ouverture)}}</p>
                        </div>
                    </div>
                    <div class="wallet-solde">
                        <p *ngIf="selectedBeneficiaire.Solde">{{selectedBeneficiaire.Solde}}</p>
                    </div>
                </div>
    
                <div *ngIf="!isBeneficiaireSelected">
                    <div class="box-item select-box-item" (click)="openContactDialog(ContactDialog)">
                        <div class="wallet-info">
                            <fa-icon [icon]="faPlus" class="new-wallet-info"></fa-icon>
                            <div>
                                <p>Ajouter un bénéficiaire</p>
                            </div>
                        </div>
                    </div>
                    <div class="transfer-to-separator box-item">
                        PORTEFEUILLES PERSONNELS
                    </div>
                    <div *ngFor="let portefeuille of portefeuilles" class="box-item select-box-item" (click)="selectBeneficiaire(portefeuille)">
                        <div class="wallet-info">
                            <div *ngIf="portefeuille.ClePub === selectedBeneficiaire.ClePub">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                            <div>
                                <p>{{portefeuille.Libelle}}</p>
                                <p>Ouvert le {{commonUtilsService.formatDate(portefeuille.Ouverture)}}</p>
                            </div>
                        </div>
                        <div class="wallet-solde">
                            <p>{{portefeuille.Solde}}</p>
                        </div>
                    </div>
                    <div class="transfer-to-separator box-item">
                        BÉNÉFICIAIRES
                    </div>
                    <div *ngFor="let beneficiaire of beneficiaires" class="box-item select-box-item" (click)="selectBeneficiaire(beneficiaire)">
                        <div class="wallet-info">
                            <div *ngIf="beneficiaire.ClePub === selectedBeneficiaire.ClePub">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </div>
                            <div>
                                <p>{{beneficiaire.Libelle}}</p>
                                <p>Ajouté le {{commonUtilsService.formatDate(beneficiaire.Ajout)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="virements-form">
                <mat-form-field>
                    <input matInput type="number" placeholder="Montant" [(ngModel)]="transferAmount" min="1" oninput="validity.valid||(value='1')">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type de virement</mat-label>
                    <mat-select [(value)]="selectedType">
                        <mat-option *ngFor="let type of typesVirement" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-flat-button color="primary" class="confirm-button" (click)="openConfirmDialog(ConfirmDialog)" 
                [disabled]="checkConfirmState()">
                <fa-icon [icon]="faCheckCircle"></fa-icon>
                CONFIRMER
            </button> 

            <ng-template #ConfirmDialog>
                <div class="confirm-dialog">
                    <div class="dialog-header">
                        <h2>Confirmer le virement</h2>
                        <hr>
                    </div>
                    <div class="dialog-content">
                        <div class="dialog-info-left">
                            <div class="dialog-info">
                                <p>De :</p>
                                <p><strong>{{dialogProperties.from}}</strong></p>
                                <hr>
                            </div>
                            <div class="dialog-info">
                                <p>Montant débité :</p>
                                <p><strong>{{dialogProperties.amout}} DHTG</strong></p>
                                <hr>
                            </div>
                            <div class="dialog-info">
                                <p>Type de virement :</p>
                                <p><strong>{{dialogProperties.type}}</strong></p>
                            </div>
                        </div>
                        <div class="dialog-info-right">
                            <div class="dialog-info">
                                <p>Vers :</p>
                                <p><strong>{{dialogProperties.to}}</strong></p>
                                <hr>
                            </div>
                            <div class="dialog-info">
                                <p>Solde après opération :</p>
                                <p><strong>{{dialogProperties.afterTransfer}} DHTG</strong></p>
                                <hr>
                            </div>
                            <div class="dialog-info">
                                <p>Date du virement :</p>
                                <p><strong>{{dialogProperties.date}}</strong></p>
                            </div>
                        </div>
                    </div>

                    <mat-form-field class="transfer-password-confirm">
                        <input matInput type="password" placeholder="Entrez votre mot de passe pour confirmer" [(ngModel)]="transferPassword">
                    </mat-form-field>
                    
                    <div class="dialog-buttons">
                        <button mat-flat-button class="dialog-confirm-button" (click)="confirmTransfer()">Confirmer</button> 
                        <button mat-flat-button class="dialog-cancel-button" (click)="cancelTransfer()">Annuler</button> 
                    </div>
                </div>
            </ng-template>

            <ng-template #ContactDialog>
                <div class="contact-dialog">
                    <div class="dialog-header">
                        <h2>Vos bénéficiaires</h2>
                        <hr>
                    </div>
                    <div class="contact-dialog-form">
                        <mat-form-field>
                            <mat-label>Sélectionner un bénéficiaire...</mat-label>
                            <mat-select [(value)]="editBeneficiaire">
                                <mat-option value="newContact">
                                    <fa-icon [icon]="faPlus"></fa-icon> Nouveau bénéficiaire
                                </mat-option>
                                <mat-option *ngFor="let beneficiaire of beneficiaires" [value]="beneficiaire">
                                    {{beneficiaire.Libelle}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Nom du bénéficiaire" [(ngModel)]="editBeneficiaire.Libelle" (change)="changeBeneficiaireLibelle($event)">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput  placeholder="Identifiant du portefeuile" [(ngModel)]="editBeneficiaire.ClePub" (change)="changeBeneficiaireClePub($event)">
                        </mat-form-field>
                    </div>
                    <div class="dialog-buttons">
                        <button mat-flat-button class="dialog-confirm-button" (click)="confirmContactEditCreate()">Confirmer</button> 
                        <button mat-flat-button class="dialog-cancel-button" (click)="cancelContactEditCreate()">Annuler</button> 
                    </div>
                </div>
            </ng-template>
        </div>
    
        <div class="actions-virements">
            <h2>Opérations</h2>
            <hr>
            <a (click)="goToTransfersStatement()"><fa-icon [icon]="faClipboard"></fa-icon> Suivre mes virements</a>
            <a (click)="openContactDialog(ContactDialog)"><fa-icon [icon]="faUserFriends"></fa-icon> Gérer mes bénéficiaires</a>
        </div>
    </div>
    