/* Application-wide Styles */
@import "app/sogebank/sogebank-blue-material.css";

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.succes-snackbar {
  background: #4ac52c;
  color: #ffffff;
}

.succes-snackbar button {
  color: #e6e6e6;
}

.alert-snackbar {
  background: #f44336;
  color: #ffffff;
}

.alert-snackbar button {
  color: #e6e6e6;
}