<div class="mainBlackBackground"></div>
<div class="mainBackgroundImage"></div>
<div class="bigOval"></div>
<div class="smallOval"></div>
<div class="makeBottomhalfBrighter"></div>
<div class="mainContent">
  <div class="headers">
    <h1>Bienvenue a notre Projet TPT Blockchain</h1>
    <h2>veuillez selectionner votre profil</h2>
  </div>
  <div class="lines">
    <nav>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1790" height="454" viewBox="0 0 1790 454">
          <defs>
            <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 219 230">
              <image width="219" height="230" xlink:href="../../assets/accueil/client.png"/>
            </pattern>
            <clipPath id="clip-Startup1">
              <rect width="1790" height="454"/>
            </clipPath>
          </defs>
          <g id="Startup1" clip-path="url(#clip-Startup1)">
            <g id="Group_342" data-name="Group 342">
              <path id="Path_15" data-name="Path 15" d="M-1323.923-1926.259v28.561l176.808,95.2,180.208-95.2v-28.561Z" transform="translate(1341.002 2255.493)" fill="#576157" stroke="#707070" stroke-width="1"/>
              <g id="Group_334" data-name="Group 334">
                  <path id="Path_14" data-name="Path 14" d="M1106-1659.469l178.537-92.311,179.867,92.311v221.855l-179.867,91.869L1106-1437.614Z" transform="translate(-1089.273 1768.753)" fill="#85b585" stroke="#707070" stroke-width="1"/>
                  
                  <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(178.422)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(0 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_3" data-name="Ellipse 3" transform="translate(178.422 186.228)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(359.074 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(178.422 408.141)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_6" data-name="Ellipse 6" transform="translate(359.074 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_7" data-name="Ellipse 7" transform="translate(0 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Rectangle_301" data-name="Rectangle 301" transform="translate(191.804 216.337)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_302" data-name="Rectangle 302" transform="translate(13.382 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_303" data-name="Rectangle 303" transform="translate(372.456 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_304" data-name="Rectangle 304" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 113.756)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_305" data-name="Rectangle 305" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 333.438)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_306" data-name="Rectangle 306" transform="matrix(0.454, 0.891, -0.891, 0.454, 182.681, 20.085)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_307" data-name="Rectangle 307" transform="matrix(0.454, -0.891, 0.891, 0.454, 24.578, 119.718)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_308" data-name="Rectangle 308" transform="matrix(0.454, -0.891, 0.891, 0.454, 205.23, 26.046)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_309" data-name="Rectangle 309" transform="matrix(0.454, -0.891, 0.891, 0.454, 26.808, 339.4)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
              </g>
            
            </g>
            <g id="Group_343" data-name="Group 343" transform="translate(465.824)">
              <path id="Path_15-2" data-name="Path 15" d="M-1323.923-1926.259v28.561l176.808,95.2,180.208-95.2v-28.561Z" transform="translate(1341.002 2255.493)" fill="#615757" stroke="#707070" stroke-width="1"/>
              <g id="Group_334-2" data-name="Group 334">
                <path id="Path_14-2" data-name="Path 14" d="M1106-1659.469l178.537-92.311,179.867,92.311v221.855l-179.867,91.869L1106-1437.614Z" transform="translate(-1089.273 1768.753)" fill="#b58585" stroke="#707070" stroke-width="1"/>
                <g id="Ellipse_1-2" data-name="Ellipse 1" transform="translate(178.422)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_2-2" data-name="Ellipse 2" transform="translate(0 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_3-2" data-name="Ellipse 3" transform="translate(178.422 186.228)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_4-2" data-name="Ellipse 4" transform="translate(359.074 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_5-2" data-name="Ellipse 5" transform="translate(178.422 408.141)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_6-2" data-name="Ellipse 6" transform="translate(359.074 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_7-2" data-name="Ellipse 7" transform="translate(0 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Rectangle_301-2" data-name="Rectangle 301" transform="translate(191.804 216.337)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_302-2" data-name="Rectangle 302" transform="translate(13.382 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_303-2" data-name="Rectangle 303" transform="translate(372.456 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_304-2" data-name="Rectangle 304" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 113.756)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_305-2" data-name="Rectangle 305" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 333.438)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_306-2" data-name="Rectangle 306" transform="matrix(0.454, 0.891, -0.891, 0.454, 182.681, 20.085)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_307-2" data-name="Rectangle 307" transform="matrix(0.454, -0.891, 0.891, 0.454, 24.578, 119.718)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_308-2" data-name="Rectangle 308" transform="matrix(0.454, -0.891, 0.891, 0.454, 205.23, 26.046)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_309-2" data-name="Rectangle 309" transform="matrix(0.454, -0.891, 0.891, 0.454, 26.808, 339.4)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
              </g>
            </g>
            <text id="Banque_Commerciale" data-name="Banque 
        Commerciale" transform="matrix(0.946, -0.326, 0.326, 0.946, 580, 126)" fill="#fff" font-size="36" font-family="TwCenMT-Bold, Tw Cen MT" font-weight="700"><tspan x="0" y="0">Banque </tspan><tspan x="0" y="39">Commerciale</tspan></text>
            <path id="Path_22" data-name="Path 22" d="M789.563-2036.145c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064-13.747-11.249-21.023-24.257-17.384-45.078,3.234-12.331,9.02-25.848,36.386-31.332.2.2,54.983,0,54.983,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.895c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C796.436-2043.018,794.18-2036.814,789.563-2036.145Z" transform="translate(-400.251 2304.169)" fill="#b58585" stroke="#27698a" stroke-width="5"/>
            <path id="Path_23" data-name="Path 23" d="M65.819,82.474c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064C4.568,65.161-2.707,52.153.931,31.332,4.166,19,9.951,5.485,37.317,0,37.519.2,92.3,0,92.3,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.894c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C72.692,75.6,70.436,81.805,65.819,82.474Z" transform="translate(523.05 267.71) rotate(180)" fill="#85b585" stroke="#27698a" stroke-width="5"/>
            <image id="Bank" width="143" height="143" transform="translate(498 209)" xlink:href="../../assets/accueil/Bank.png"/>
            <image id="BRH" width="137" height="67" transform="translate(35 247)" xlink:href="../../assets/accueil/BRH.png"/>
            <text id="Banque_Centrale" data-name="Banque 
        Centrale" transform="matrix(0.946, -0.326, 0.326, 0.946, 114, 121)" fill="#fff" font-size="36" font-family="TwCenMT-Bold, Tw Cen MT" font-weight="700"><tspan x="0" y="0">Banque </tspan><tspan x="0" y="39">Centrale</tspan></text>
            <g id="Group_344" data-name="Group 344" transform="translate(931.648)">
              <path id="Path_15-3" data-name="Path 15" d="M-1323.923-1926.259v28.561l176.808,95.2,180.208-95.2v-28.561Z" transform="translate(1341.002 2255.493)" fill="#575761" stroke="#707070" stroke-width="1"/>
              <g id="Group_334-3" data-name="Group 334">
                <path id="Path_14-3" data-name="Path 14" d="M1106-1659.469l178.537-92.311,179.867,92.311v221.855l-179.867,91.869L1106-1437.614Z" transform="translate(-1089.273 1768.753)" fill="#85a9b5" stroke="#707070" stroke-width="1"/>
                <g id="Ellipse_1-3" data-name="Ellipse 1" transform="translate(178.422)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_2-3" data-name="Ellipse 2" transform="translate(0 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_3-3" data-name="Ellipse 3" transform="translate(178.422 186.228)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_4-3" data-name="Ellipse 4" transform="translate(359.074 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_5-3" data-name="Ellipse 5" transform="translate(178.422 408.141)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_6-3" data-name="Ellipse 6" transform="translate(359.074 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_7-3" data-name="Ellipse 7" transform="translate(0 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Rectangle_301-3" data-name="Rectangle 301" transform="translate(191.804 216.337)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_302-3" data-name="Rectangle 302" transform="translate(13.382 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_303-3" data-name="Rectangle 303" transform="translate(372.456 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_304-3" data-name="Rectangle 304" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 113.756)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_305-3" data-name="Rectangle 305" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 333.438)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_306-3" data-name="Rectangle 306" transform="matrix(0.454, 0.891, -0.891, 0.454, 182.681, 20.085)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_307-3" data-name="Rectangle 307" transform="matrix(0.454, -0.891, 0.891, 0.454, 24.578, 119.718)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_308-3" data-name="Rectangle 308" transform="matrix(0.454, -0.891, 0.891, 0.454, 205.23, 26.046)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_309-3" data-name="Rectangle 309" transform="matrix(0.454, -0.891, 0.891, 0.454, 26.808, 339.4)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
              </g>
            </g>
            <g id="Group_345" data-name="Group 345" transform="translate(1397.471)">
              <path id="Path_15-4" data-name="Path 15" d="M-1323.923-1926.259v28.561l176.808,95.2,180.208-95.2v-28.561Z" transform="translate(1341.002 2255.493)" fill="#616157" stroke="#707070" stroke-width="1"/>
              <g id="Group_334-4" data-name="Group 334">
                <path id="Path_14-4" data-name="Path 14" d="M1106-1659.469l178.537-92.311,179.867,92.311v221.855l-179.867,91.869L1106-1437.614Z" transform="translate(-1089.273 1768.753)" fill="#b3b585" stroke="#707070" stroke-width="1"/>
                <g id="Ellipse_1-4" data-name="Ellipse 1" transform="translate(178.422)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_2-4" data-name="Ellipse 2" transform="translate(0 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_3-4" data-name="Ellipse 3" transform="translate(178.422 186.228)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_4-4" data-name="Ellipse 4" transform="translate(359.074 92.556)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_5-4" data-name="Ellipse 5" transform="translate(178.422 408.141)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_6-4" data-name="Ellipse 6" transform="translate(359.074 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Ellipse_7-4" data-name="Ellipse 7" transform="translate(0 314.469)" fill="#93d9ee" stroke="#235f82" stroke-width="1">
                  <circle cx="16.727" cy="16.727" r="16.727" stroke="none"/>
                  <circle cx="16.727" cy="16.727" r="16.227" fill="none"/>
                </g>
                <g id="Rectangle_301-4" data-name="Rectangle 301" transform="translate(191.804 216.337)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_302-4" data-name="Rectangle 302" transform="translate(13.382 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_303-4" data-name="Rectangle 303" transform="translate(372.456 122.665)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="195.149" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="194.149" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_304-4" data-name="Rectangle 304" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 113.756)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_305-4" data-name="Rectangle 305" transform="matrix(0.454, 0.891, -0.891, 0.454, 362.218, 333.438)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_306-4" data-name="Rectangle 306" transform="matrix(0.454, 0.891, -0.891, 0.454, 182.681, 20.085)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_307-4" data-name="Rectangle 307" transform="matrix(0.454, -0.891, 0.891, 0.454, 24.578, 119.718)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_308-4" data-name="Rectangle 308" transform="matrix(0.454, -0.891, 0.891, 0.454, 205.23, 26.046)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_309-4" data-name="Rectangle 309" transform="matrix(0.454, -0.891, 0.891, 0.454, 26.808, 339.4)" fill="#27698a" stroke="#235f82" stroke-width="1">
                  <rect width="6.691" height="176.192" rx="3" stroke="none"/>
                  <rect x="0.5" y="0.5" width="5.691" height="175.192" rx="2.5" fill="none"/>
                </g>
              </g>
            </g>
            <text id="Commercant" transform="matrix(0.946, -0.326, 0.326, 0.946, 1037, 150)" fill="#fff" font-size="36" font-family="TwCenMT-Bold, Tw Cen MT" font-weight="700"><tspan x="0" y="0">Commercant</tspan></text>
            <text id="Particulier" transform="matrix(0.946, -0.326, 0.326, 0.946, 1527, 137)" fill="#fff" font-size="36" font-family="TwCenMT-Bold, Tw Cen MT" font-weight="700"><tspan x="0" y="0">Particulier</tspan></text>
            <path id="Path_24" data-name="Path 24" d="M789.563-2036.145c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064-13.747-11.249-21.023-24.257-17.384-45.078,3.234-12.331,9.02-25.848,36.386-31.332.2.2,54.983,0,54.983,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.895c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C796.436-2043.018,794.18-2036.814,789.563-2036.145Z" transform="translate(71.749 2304.169)" fill="#85a9b5" stroke="#27698a" stroke-width="5"/>
            <path id="Path_25" data-name="Path 25" d="M65.819,82.474c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064C4.568,65.161-2.707,52.153.931,31.332,4.166,19,9.951,5.485,37.317,0,37.519.2,92.3,0,92.3,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.894c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C72.692,75.6,70.436,81.805,65.819,82.474Z" transform="translate(995.05 267.71) rotate(180)" fill="#b58585" stroke="#27698a" stroke-width="5"/>
            <path id="Path_26" data-name="Path 26" d="M789.563-2036.145c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064-13.747-11.249-21.023-24.257-17.384-45.078,3.234-12.331,9.02-25.848,36.386-31.332.2.2,54.983,0,54.983,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.895c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C796.436-2043.018,794.18-2036.814,789.563-2036.145Z" transform="translate(542.749 2304.169)" fill="#b3b585" stroke="#27698a" stroke-width="5"/>
            <path id="Path_27" data-name="Path 27" d="M65.819,82.474c-13.948,2.021-29.311-.2-29.311,0,0,.046-12.533-.4-18.193-6.064C4.568,65.161-2.707,52.153.931,31.332,4.166,19,9.951,5.485,37.317,0,37.519.2,92.3,0,92.3,0s9.53,1.2,19.2,9.1c3.416,2.787,7.835,9.45,10.511,13.139,4.575,6.306,5.158,18.1,3.841,22.842-.815,2.941-4.851,6.469-9.3,7.075-1.348.184-6.446-1.485-8.086-3.436-3.424-4.072-3.234-10.916-3.234-10.916l-2.83-8.086s-6.435-8.624-12.533-8.894c-16.852-.746-52.557,0-52.557,0a26.385,26.385,0,0,0-11.724,6.873c-2.564,2.743-3.911,7.56-4.649,11.724-.722,4.069-.354,11.315,4.649,16.778,3.317,3.622,11.724,6.469,11.724,6.469h28.5s4.781,1.168,6.873,5.256c.78,1.521.014,5.475,0,7.277C72.692,75.6,70.436,81.805,65.819,82.474Z" transform="translate(1466.05 267.71) rotate(180)" fill="#85a9b5" stroke="#27698a" stroke-width="5"/>
            <image id="icone-magasin" width="96" height="96" transform="translate(1006 247)" xlink:href="../../assets/accueil/icone-magasin.png"/>
            <rect id="client" width="91" height="96" transform="translate(1471 233)" opacity="0.8" fill="url(#pattern)"/>
          </g>
        </svg>
    </nav>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
</div>