.portal {
  font-family: acumin-pro;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.BRH-top-bar {
  display: flex;
  background-image: url(../../assets/accueil/bg-header.png);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.BRH-top-bar img {
  margin: 12px 35px;
}

.BRH-top-bar h2 {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #171844;
  font-size: 38px;
}

.portal-header-bar {
  background-color: #171844;
  font-size: 28px;
  color: #ffffff;
}

.portal-header-bar p {
  margin: 0;
  padding-top: 3px;
  padding-left: 35px;
}

.portal-body {
  margin-left: 80px;
}

.portal-body h2 {
  font-family: acumin-pro-bold;
  margin-bottom: 0;
}

.portal-body fa-icon {
  font-size: 18px;
  padding-right: 10px;
}

.portal-body p {
  font-family: acumin-pro-bold;
  padding-left: 28px;
  margin-top: 0;
}

.portal-body .bank-buttons {
  display: flex;
}

.lower-bank-buttons {
  padding-top: 15px;
}

.portal-footer {
  background-color: #171844;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.portal-footer ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.portal-footer ul li {
  display: inline-block;
  padding-left: 20px;
}

.portal-footer ul li a fa-icon{
  font-size: 8px;    
  justify-content: center;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  padding-right: 5px;
}