.cartes-content {
    display: flex;
}

.new-button {
    border-radius: 50px;
    padding: 5px 16px;
    margin-bottom: 15px;
    align-self: flex-end;
}

.liste-cartes {
    width: 55%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.carte-container {
    color: rgba(255, 255, 255, 0.85);
    background: rgb(5,117,230);
    background: linear-gradient(20deg, rgba(5,117,230,1) 0%, rgba(2,27,121,1) 100%);
    margin-bottom: 30px;
    box-shadow: 7px 7px 10px rgba(112, 112, 112, 0.55);
    border-radius: 5px;
}

.carte-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.blocked-title {
    color: #FF3B00;
}

.carte-title button {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}

.edit-button {
    color: #25AAF7;
}

.delete-button {
    color: #FF3B00;
}

.block-button {
    color: #F0AD4E;
}

.carte-footer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; 
}

.carte-info p {
    margin: 0;
}

.carte-rattachement {
    margin-left: auto;
    color: #707070;
    font-size: 10px;
}

.stats-cartes {
    margin-left: auto;
    width: 30%;
    border-left: 1px solid #707070;
    padding-left: 2%;
}

.stats-cartes p {
    color: rgba(112, 112, 112, 0.7);
}

.stats-cartes h2 {
    color: #25AAF7;
}

.dialog-header {
    align-self: center;
    margin-bottom: 15px;
}

.dialog-header h2 {
    margin-bottom: 0;
}

.dialog-header hr {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.25);
    border: none;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-buttons {
    justify-content: space-around;
    display: flex;
    width: 60%;
    align-self: center;
    margin-top: 25px;
}

.dialog-buttons button {
    border-radius: 50px;
    padding: 5px 16px;
    margin-bottom: 15px;
    color: #ffffff;
}

.dialog-confirm-button {
    background-color: #23B708;
}

.dialog-cancel-button {
    background-color: #FF3B00;
}

.new-card-dialog {
    display: flex;
    flex-direction: column;
}

.new-card-dialog .dialog-header hr {
    width: 50%;
}

.new-card-dialog-form {
    display: flex;
    flex-direction: column;
}

.dialog-warning {
    display: flex;
    width: 90%;
    align-self: center;
    align-items: baseline;
    color: #ffffff;
    background-color: #F0AD4E;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.dialog-warning fa-icon {
    margin-right: 10px;
}